@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 11, 89, 12;
  --background-rgb: 255, 234, 190;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 240, 240, 240;
    --background-rgb: 20, 22, 25;
  }
}

body {
  background: rgb(var(--background-rgb));
  color: rgb(var(--foreground-rgb));
}
